<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.infineon.airocbluetoothconnect">

    <!--
    Declare this required feature if you want to make the app available to BLE-capable
    devices only.  If you want to make your app available to devices that don't support BLE,
    you should omit this in the manifest.  Instead, determine BLE capability by using
    PackageManager.hasSystemFeature(FEATURE_BLUETOOTH_LE)
    -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <!-- Request legacy Bluetooth permissions on older devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- Needed to look for Bluetooth devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <!-- Needed to communicates with already-paired Bluetooth devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Needed for Android 13 and further versions to send OTA progress notifications -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!--
    Apps that target Android 10 (API level 29) can still request the requestLegacyExternalStorage attribute.
    After you update your app to target Android 11, the system ignores the requestLegacyExternalStorage flag.
    -->
    <application
        android:name="com.infineon.airocbluetoothconnect.AIROCBluetoothConnectApp"
        android:allowBackup="true"
        android:enabled="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name="com.infineon.airocbluetoothconnect.BLEConnectionServices.BluetoothLeService"
            android:enabled="true" />

        <receiver
            android:name=".OTAFirmwareUpdate.OTAResponseReceiver_v0"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.airocbluetoothconnect.bluetooth.le.ACTION_OTA_DATA_AVAILABLE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".OTAFirmwareUpdate.OTAResponseReceiver_v1"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.airocbluetoothconnect.bluetooth.le.ACTION_OTA_DATA_AVAILABLE_V1" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".BLEStatusReceiver"
            android:enabled="true"
            android:exported="false"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.example.bluetooth.le.ACTION_GATT_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.infineon.airocbluetoothconnect.SplashPageActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--NOTE: android:launchMode changed from "standard" to "singleTask" to resolve PRODTOOLS-10517-->
        <activity
            android:name="com.infineon.airocbluetoothconnect.HomePageActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <!-- For email attachments -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\.cyacd"
                    android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:mimeType="application/octet-stream"
                    android:pathPattern=".*\\.cyacd2"
                    android:scheme="content" />
            </intent-filter>
            <!--  For file browsers -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.cyacd"
                    android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data
                    android:host="*"
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.cyacd2"
                    android:scheme="file" />
            </intent-filter>
            <!--  For web browsers -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.cyacd" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="http" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.cyacd2" />
            </intent-filter>
        </activity>

        <activity
            android:name=".OTAFirmwareUpdate.OTAFilesListingActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".HomePageActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".DataLoggerFragments.DataLoggerHistoryList"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".HomePageActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"></activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="@string/authority_fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>
</manifest>